@using Epis.Web.Portal.Models
@{
    ViewBag.Title = @Model.TituloPagina;
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <a data-toggle="pill" href="#acreditacion">Acreditación</a>
                </li>
                <li>
                    <a data-toggle="pill" href="#autoevaluacion">Autoevaluación</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <div class="tab-content">
                <div id="acreditacion" class="tab-pane fade in active">
                    <h2>@Model.Acreditacion.Titulo</h2>
                    <p>@Model.Acreditacion.Resena</p>
                    <img src="@Model.Acreditacion.UrlImagen" class="img-responsive" alt="@Model.Acreditacion.UrlImagen" width="100%">
                </div>
                <div id="autoevaluacion" class="tab-pane fade">
                    <h2>@Model.Autoevaluacion.Titulo</h2>
                    <p>@Model.Autoevaluacion.Resena</p>
                    <img src="@Model.Autoevaluacion.UrlImagen" class="img-responsive" alt="@Model.Autoevaluacion.UrlImagen" width="100%">
                </div>
            </div>
        </div>
    </div>
</div>

