@using Epis.Web.Portal.Models
@{
    ViewBag.Title = @Model.TituloPagina;
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img src="@Model.PabalabrasDirector.UrlImagen" alt="@Model.PabalabrasDirector.UrlImagen" />
            <h2>@Model.PabalabrasDirector.Titulo</h2>
            <p>
                @Model.PabalabrasDirector.Resena
            </p>
        </div>
    </div>
</div>
